<!--=======================================================================|
| Purple Path                                                              |
|==========================================================================|
| Enlaza el submit del formulario con la función 'emitPostSubmitted()'.    |
|========================================================================-->
<form 
  (submit)="emitPostSubmitted()"
  (input)="isFormInvalid()"
  [formGroup]="postForm" novalidate>

  <!--=======================================================================|
  | Purple Path                                                              |
  |==========================================================================|
  | Enlaza el input con el control 'title' definido en el FormGroup.         |
  |========================================================================-->
  <input
    formControlName="title"
    
    type="text"
    placeholder="Título"
    class="u-full-width">

  <!--=======================================================================|
  | Purple Path                                                              |
  |==========================================================================|
  | Enlaza el textarea con el control 'intro' definido en el FormGroup.      |
  |========================================================================-->
  <textarea
    formControlName="intro"
    placeholder="Introduce tu historia"
    class="u-full-width georgia-font"
    autogrow></textarea>

  <!--=======================================================================|
  | Purple Path                                                              |
  |==========================================================================|
  | Enlaza el textarea con el control 'body' definido en el FormGroup.       |
  |========================================================================-->
  <textarea
    formControlName="body"
    placeholder="Cuenta tu historia"
    class="u-full-width georgia-font"
    autogrow></textarea>
    <span *ngIf="postForm.get('title').invalid">Title Invalido</span>
    <span *ngIf="postForm.get('intro').invalid">Intro Invalido</span>
    <span *ngIf="postForm.get('body').invalid">Body Invalido</span>
  <!--=======================================================================|
  | Purple Path                                                              |
  |==========================================================================|
  | Deshabilita el botón 'Publicar' si el formulario no es válido.           |
  |========================================================================-->
  <button
    *ngIf="isValid"
    type="submit"
    class="button-primary u-pull-right">{{ submitButtonText }}</button>

</form>
